/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

@include mat-core();
$default-app-primary: mat-palette($mat-indigo);
$default-app-accent: mat-palette($mat-pink, A200, A100, A400);
$default-app-warn: mat-palette($mat-red);
$default-app-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);
@include angular-material-theme($default-app-theme);

html,
body {
  height: 100%;
  background-color: #bca692;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  p, h1, h2, a{
    color: #7a4143;
  }
}

.custom-toolbar {
  background-color: #7a4143;
  * {
    color: #fff;
  }
}
button.mat-button{
  background-color: #7a4143;
  color: #fff !important;
}
.theme-container {
  max-width: 1300px;
  margin: 0 auto;
}
.main {
  min-height: 80vh;
  padding: 16px;
  position: relative;
}

.text-centered {
  text-align: center;
}

.success {
  color: #fff;
  background-color: green;
  button {
    color: #fff;
    background: inherit;
  }
}

.error {
  color: #fff;
  background-color: mat-color($default-app-warn);
  button {
    color: #fff;
    background: inherit;
  }
}
