.expert-details{
    width:320px;
    height:380px;
}

.img-container{
    width:320px;
    height: 320px;
    overflow: hidden;
    img{
        width:320px;
        height:auto;
    }
}

.child-container{
    min-height: 120px;
    height: 120px;
}

