<mat-toolbar class="custom-toolbar">
    <mat-toolbar-row fxLayoutAlign="space-between center">
            <h1>Super Barbershop</h1>
      <mat-nav-list role="navigation">
        <a mat-list-item [routerLink]="['/main']" routerLinkActive="active">Main</a>
        <a mat-list-item [routerLink]="['/services']" routerLinkActive="active">Services</a>
        <a mat-list-item [routerLink]="['/experts']" routerLinkActive="active">Experts</a>
        <a mat-list-item [routerLink]="['/booking']" routerLinkActive="active">Booking</a>
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>
